
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="instruction page">
    <meta name="author" content="Keer Sun, template by bootstrap">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../../media/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../../media/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../media/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../../../media/favicon_io/site.webmanifest">

    <title>Recipe Instruction</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
  </head>

  <body>

    <body>
      <header>
    <div class="collapse bg-light" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-black">About</h4>
            <p class="text-muted">Hi! My name is Keer. I love food and I started cooking more and more dishes recently. I grew up eating great food and I wanna share them with everyone! If you 
              have and questions or suggestions feel free to email me! </p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-black">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/keersun" class="text-black">Connect on Linkedin</a></li>
              <li><a href="https://github.com/KeerSun" class="text-black">Checkout my Github</a></li>
              <li><a href="https://docs.google.com/document/d/1nSHRdOB1bN4ydK8QNU6SVlVQTw7R1J0zxGBv06x3Zdc/edit?usp=sharing" class="text-black">My Résumé</a></li>
              <li><a href="mailto:ksun@wellesley.edu" class="text-black">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-light bg-light shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href= "{% url 'home' %}" style = "color:black;" class="navbar-brand d-flex align-items-center">
          <img src="../../../media/images/logo.png" width = "180px" focusable="false" role="img" ></img>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>


    <img src="{{recipe.image.url}}" class="img-fluid" height = "60%" width = "100%"> </img>
    
    <div class="container" style = "margin-top:20px;">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title" >{{recipe.name}}</h2>
            <p class="blog-post-meta"> Total Time: {{recipe.duration}} </p>

            <p>{{recipe.description}}</p>
            <hr>
            <p>{{recipe.introduction}}</p>

            <h2>Tools Needed</h2>
            <ul>
              {%for tool in recipe.tools%}
              <li>{{tool}}</li>
              {%endfor%}
            </ul>

            <h2>Ingredients</h2>
            <p>{{recipe.ingNote}}</p>
            <ul>
              {%for ing in recipe.ingredients%}
              <li>{{ing}}</li>
              {%endfor%}
            </ul>

            <h2>Steps</h2>
            <ol>
              {%for step in recipe.instructionsTxt%}
              <li>{{step}}</li>
              {%endfor%}
            </ol>
            
            <hr>
            <p>Note: {{recipe.note}} </p>
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->
        
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <div class="container">
        <a href="#">Back to top</a>
        <hr>
        <p>CopyRight Keer Sun {% now "Y" %}</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
